body > footer {
  margin-top: 40px;
}

footer {
  background: var(--footer-background);
  color: var(--text-footer);
  border-top: var(--border);
  padding-top: 10px;
  width: 100%;
}

footer > div > div p:first-child {
  margin: 0;
  padding: 0;
}

footer > div > div p:last-child {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

footer a[href^='tel:'],
footer a[href^='mailto:'] {
  color: var(--text-footer);
}

footer a:hover {
  color: var(--text-gloomy);
}

/* computer footer */
@media screen and (min-width: 1000px) {
  footer {
    display: table;
  }

  footer > div {
    display: table-row;
  }

  footer > div > div {
    display: table-cell;
  }

  footer > div > div:last-child {
    text-align: right;
  }
}

/* mobile footer */
@media screen and (max-width: 1000px){
  footer {
    display: flex;
    flex-direction: column;
  }

  footer p {
    display: inline-block;
  }

  footer p.new-line {
    display: block;
  }
}
