* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  font-size: 1em;
  margin: 20px auto;
  padding: 0;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

#containter {
  background: var(--content-background);
  width: 100%;
  padding: 0;
  margin: 0;
}

#content {
  background: var(--content-background);
  float: left;
  width: calc(75% - 2px);
  margin: 0 0 0 1px;
  padding: 1em 0;
}

#aside-content {
  background: var(--aside-content-background);
  width: calc(25% - 2px);
  float: left;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0 0 1px;
  padding: 0;
}

#aside-content ul {
  padding-left: 0.5em;
  margin: 0;
  list-style-type: none;
}

#aside-content ul > li {
  font-size: .8em;
  text-align: left;
}

#content a[href^='tel:']:hover,
#aside-content a[href^='tel:']:hover,
#content a[href^='mailto:']:hover,
#aside-content a[href^='mailto:']:hover {
 text-decoration: none;
 color: var(--text-bright);
}

a {
  text-decoration: none;
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

a[href^='tel:'],
a[href^='mailto:'] {
  color: var(--text-main);
}

table {
  border: var(--border);
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: auto;
}

table caption {
  text-align: center;
  white-space: normal;
}

td,
th {
  border: var(--border);
  padding: 6px;
  text-align: center;
  vertical-align: top;
  white-space: normal;
  width: 1%;
}

thead{
  font-weight: bold;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection,
::selection {
  background-color: var(--selection);
  color: var(--text-bright);
}

.muted {
  color: var(--text-muted);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align:  left;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  text-align: center;
}

.leader {
  display: block;
}

.leader > figure, 
.leader > div {
  display: inline-block;
  vertical-align: middle;
}

caption {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

section p {
  text-indent: 2em;
  margin: 0;
  margin-left: .5em;
  margin-right: .5em;
}

section ol {
  margin: 0;
}

section li {
  margin-left: 2em;
}

img {
  border: 2px solid var(--border-color);
}

ul {
  list-style-type: circle;
}

ul ul {
  list-style-type: square;
}

ul.no-bullets {
  list-style-type: none;
}

.div-name {
  margin: 0;
  text-align: center;
  display: block;
  font-weight: bold;
}

#aside-content > div {
  margin: 1em;
}

p {
  text-indent: 2em;
}

.no-border,
.no-border * {
  border: 0;
}

table.text-left tr,
table.text-left td {
  text-align: left;
}

.table-striped tr:nth-child(even) {
  background: var(--background-tr-odd);
}

/* warnings styling start*/
.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  -webkit-border-radius: calc(var(--circle-size)/2);
  -moz-border-radius: calc(var(--circle-size)/2);
  border-radius: calc(var(--circle-size)/2);
  background: green;
  display: inline-block;
  margin-left: .5em;
}

.warned .circle {
  background: red;
}

#warnings .warning-text{
  display: none;
  text-indent: calc(var(--circle-size)*1.8);
}

#warnings > .warned .warning-text:after {
  content: 'Предупреждение есть';
  color: red;
}

#warnings > :not(.warned) .warning-text:after {
  content: 'Предупреждения нет';
  color: green;
}

#warnings .warning:hover .warning-text {
  display: table-cell;
}
/* warnings styling end */

p.day {
  text-align: center;
}

p.description {
  text-indent: 0;
}

p.region {
  font-weight: bold;
}

#forecast-text .day {
  font-weight: bold;
}

.auto-scaled-img {
  max-width: 70vw;
}

/* file drop area styling */

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed var(--border-color-file);
  border-radius: 3px;
  transition: 0.2s;
}

.fake-btn {
  flex-shrink: 0;
  background-color: var(--background);
  border: 1px solid var(--background);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

/* theme switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 1.4em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 16px;
  left: 4px;
  bottom: .2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}