* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  font-size: 1em;
  margin: 0 0 0 0;
  padding: 0;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
  text-align: justify;
}

@media screen and (min-width: 1000px) {
    #containter {
      background: var(--content-background);
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      gap: 1em;
    }
}

@media screen and (max-width: 1000px) {
    #containter {
      background: var(--content-background);
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 1em;
    }
}

#content {
  background: var(--content-background);
  padding: 1em;
  flex-basis: 75%;
  flex-grow: 3;
  flex-shrink: 3;
}

#aside-content {
  background: var(--aside-content-background);
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
}

#aside-content ul {
  padding-left: 0.5em;
  margin: 0;
  list-style-type: none;
}

#aside-content ul > li {
  font-size: .8em;
  text-align: left;
}

#content a[href^='tel:']:hover,
#aside-content a[href^='tel:']:hover,
#content a[href^='mailto:']:hover,
#aside-content a[href^='mailto:']:hover {
 text-decoration: none;
 color: var(--text-bright);
}

div#news-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div#news-container > a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--text-main);
  border: var(--border);
  margin-top: .5em;
  padding: 0 .5em .5em .5em;
}

.news {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

table {
  border: var(--border);
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: auto;
}

table caption {
  text-align: center;
  white-space: normal;
}

td,
th {
  border: var(--border);
  padding: 6px;
  text-align: center;
  vertical-align: top;
  white-space: normal;
  width: 1%;
}

thead{
  font-weight: bold;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection,
::selection {
  background-color: var(--selection);
  color: var(--text-bright);
}

.muted {
  color: var(--text-muted);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align:  left;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h5, h6 {
  text-align: center;
}

.leader {
  display: block;
}

.leader > figure, 
.leader > div {
  display: inline-block;
  vertical-align: middle;
}

caption {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

section p {
  text-indent: 2em;
  margin: 0;
  margin-left: .5em;
  margin-right: .5em;
}

section ol {
  margin: 0;
}

section li {
  margin-left: 2em;
}

ul {
  list-style-type: circle;
}

ul ul {
  list-style-type: square;
}

.no-bullets {
  list-style-type: none;
}

.div-name {
  margin: 0;
  text-align: center;
  display: block;
  font-weight: bold;
}

#aside-content > div {
  margin: 1em;
}

p {
  text-indent: 2em;
}

.no-border,
.no-border * {
  border: 0;
}

table.text-left tr,
table.text-left td {
  text-align: left;
}

.table-striped tr:nth-child(even) {
  background: var(--background-tr-odd);
}

/* warnings styling start*/
.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  -webkit-border-radius: calc(var(--circle-size)/2);
  -moz-border-radius: calc(var(--circle-size)/2);
  border-radius: calc(var(--circle-size)/2);
  background: green;
  display: inline-block;
  margin-left: .5em;
}

.warned .circle {
  background: red;
}

#warnings .warning-text{
  display: none;
  text-indent: calc(var(--circle-size)*1.8);
}

#warnings > .warned .warning-text:after {
  content: 'Предупреждение есть';
  color: red;
}

#warnings > :not(.warned) .warning-text:after {
  content: 'Предупреждения нет';
  color: green;
}

#warnings .warning:hover .warning-text {
  display: table-cell;
}

.warning {
  cursor: default;
}

.warned {
  cursor: pointer;
}
/* warnings styling end */

p.day {
  text-align: center;
}

.description {
  text-indent: 0;
}

.region {
  font-weight: bold;
}

#forecast-text .day {
  font-weight: bold;
}

img {
  max-width: 70vw;
}

/* file drop area styling */
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed var(--border-color-file);
  border-radius: 3px;
  transition: 0.2s;
}

.fake-btn {
  flex-shrink: 0;
  background-color: var(--background);
  border: 1px solid var(--background);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

/* theme switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 1.4em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 16px;
  left: 4px;
  bottom: .2em;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* theme switcher end */

textarea {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

input {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

button {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

select {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: 11em 1fr;
  row-gap: .5em;
  justify-items: start;
  align-items: baseline;
} 

fieldset label {
  text-align: right;
  padding-right: .25em;
  white-space: nowrap;
}

fieldset button{
  grid-column: 1 / span 2; 
  white-space: nowrap;
}

fieldset .span2 {
  grid-column: 1 / span 2;
}

input[type='checkbox'],
input[type='radio'] {
  height: 1em;
  width: 1em;
}

input[type='checkbox']:active{
  transform: translateY(2px);
}

.hidden {
    display: none;
}

.short-news-title {
    color: var(--links);
}

.short-news-title:hover,
#news-container > a:hover > div > p.short-news-title {
    text-decoration: underline;
}

.navbar.dropdown-content li a{
    border-bottom: var(--border);
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

table.weather-report {
    float: left;
    width: 33%;
}
table.weather-report td {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    text-align: center;
}
table.weather-report tr:last-child td {
    height: 4em;
}

.img-carousel {
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row; 
    gap: 1em; 
    width: 100%; 
    overflow-x: scroll;
}

.img-carousel img {
    height: 100%;
}

.img-carousel .h50 {
    height: 50%;
}

.news-img-left {
    float: left; 
    padding-right: 1em;
}

.news-img-right {
    float: right; 
    padding-left: 1em;
}