table#pricelist {
  width: 100%;
}

table#pricelist tr th:nth-child(1),
table#pricelist tr th:nth-child(3),
table#pricelist tr th:nth-child(4) {
  width: 15%;
}

table#pricelist tr th:nth-child(2) {
  width: 55%;
}

table#pricelist td{
  width: min-content;
  white-space: normal;
}

table#pricelist tr.level-1 > td,
table#pricelist tr.level-2 > td  {
  text-transform: uppercase;
}

table#pricelist tr td:nth-child(1),
table#pricelist tr td:nth-child(2) {
  text-align: left;
}

table#pricelist tr td:nth-child(3) {
  text-align: right;
}

table#pricelist tr td:only-child{
  text-align: center;
}

table#pricelist tr.level-1 > td,
table#pricelist tr.level-2 > td{
  white-space: pre;
}

table#pricelist tr:hover td {
  color: #000;
  color: var(--text-bright);
  background: #000;
  background: var(--background-bright);
}
