DirectoryIndex index.php index.html

AddDefaultCharset UTF-8

<FilesMatch "\.(php|doc|pdf)$">
    Header set Cache-Control: "no-cache, no-store"
    Header unset ETag
</FilesMatch>

Header set X-Content-Type-Options nosniff

Options -Indexes